.content__video-card-title {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
    /* Это правило добавлено на тот случай если придет город с длинным названием например Петропавловск-Камчатский */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}