.search-form__label-text {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}
