.content__card-link {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.content__card-link:active .content__video-card {
    background-color: #545050;
}

.content__card-link:hover  {
    text-decoration: underline;
    color: #fff;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #fff;
}